<<<<<<< HEAD

table {
  width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
  font-size: 17px;
  line-height: 34px;
}

table tr {
  border-top: 1px solid grey;
  background-color: white;
}

table thead tr {
  background-color: lightblue;
}

table th {
  line-height: 17px;
  height: 34px;
}

table th, table td {
  padding-left: 6px;
}

table th.busId {
  width: 28%;
}

table th.route {
  width: 42%;
}

table th.status {
  width: 30%;
}

.early {
  color: red;
}

.onTime {
  color: green;
}

.late {
  color: blue;
}

.unknown {
  color: grey;
}
=======

table {
  width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
  font-size: 17px;
  line-height: 34px;
}

table tr {
  border-top: 1px solid grey;
  background-color: white;
}

table thead tr {
  background-color: lightblue;
}

table th {
  line-height: 17px;
  height: 34px;
}

table th, table td {
  padding-left: 6px;
}

table th.busId {
  width: 28%;
}

table th.route {
  width: 42%;
}

table th.status {
  width: 30%;
}

.early {
  color: red;
}

.onTime {
  color: green;
}

.late {
  color: blue;
}

.unknown {
  color: grey;
}
>>>>>>> 9f8a41545327575e06c0105e6b3960c212f7c549
