ul#bus-report {
  list-style: none;
  padding-left: 0;
  /*border-top: 1px solid grey;*/
  font-family: "Arial";
}

ul#bus-report h2 {
  font-size: 1.6em;
  line-height: 3.2em;
}

ul#bus-report li {
  /*border-bottom: 1px solid grey;*/
  margin-bottom: 3px;
}

.mat-expansion-panel {
  background-color: white; /*#F1F1F1*/
  /*border-radius: 0;*/
  border: 1px solid grey;
}

ul#bus-report table {
  width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
  font-size: 1.2em;
  line-height: 2.4em;
}

ul#bus-report table tr {
  border-top: 1px solid grey;
  background-color: white;
}

ul#bus-report table thead tr {
  background-color: lightblue;
}

.mat-expansion-panel-header {
  /*padding-left: 0;*/
}

/*.mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0;
}*/

.early {
  color: red;
}

.onTime {
  color: green;
}

.late {
  color: blue;
}

.unknown {
  color: grey;
}
