<<<<<<< HEAD
ul#bus-report {
  list-style: none;
  padding-left: 0;
  font-family: "Arial";
}

ul#bus-report h2 {
  font-size: 20px;
  line-height: 26px;
}

ul#bus-report li {
  margin-bottom: 3px;
}

.mat-expansion-panel {
  background-color: white;
  border: 1px solid grey;
}
=======
ul#bus-report {
  list-style: none;
  padding-left: 0;
  font-family: "Arial";
}

ul#bus-report h2 {
  font-size: 20px;
  line-height: 26px;
}

ul#bus-report li {
  margin-bottom: 3px;
}

.mat-expansion-panel {
  background-color: white;
  border: 1px solid grey;
}
>>>>>>> 9f8a41545327575e06c0105e6b3960c212f7c549
